@import "tailwindcss";

@theme {
  --color-brand-purple: #4F46E5;
  --color-brand-purple-dark: #4338CA;
  --color-brand-amber: #F59E0B;
  --color-badge-bg: #F3F4F6;
  --color-text-primary: #111111;

  --font-heading: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;

  --default-font-family: var(--font-sans);
}
